{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="nk-header-tools">
    <ul class="nk-quick-nav">
        <li class="dropdown language-dropdown d-sm-block me-n1">
            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                <div class="quick-icon border border-light">
                    {% with 'images/flags/'|add:LANGUAGE_CODE|add:'-sq.png' as flag_img %}
                        <img class="icon" src="{% static flag_img %}" alt="{{ LANGUAGE_CODE|language_name_local }}">
                    {% endwith %}
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-s1">
                <ul class="language-list">
                    {% for language in languages %}
                        <li>
                            <form action="{% url 'set_language' %}" method="post" class="language-item">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.path }}">
                                <input name="language" type="hidden" value="{{ language.code }}">
                                <button type="submit" class="btn btn-link p-0 w-100 text-start">
                                    {% with 'images/flags/'|add:language.code|add:'.png' as flag_img %}
                                        <img src="{% static flag_img %}" alt="{{ language.name_local }}" class="language-flag me-2" style="width: 30px; height: 20px;">
                                    {% endwith %}
                                    <span class="language-name">{{ language.name_local }}</span>
                                </button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>

        <li class="dropdown user-dropdown">
            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                <div class="user-toggle">
                    <div class="user-avatar sm">
                        <em class="icon ni ni-user-alt"></em>
                    </div>
                    <div class="user-info d-none d-md-block">
                        <div class="user-status role-{{ user.role }}">
                            <strong>{{ user.get_role_display }}</strong>
                        </div>
                        <div class="user-name dropdown-indicator">{{ user.get_full_name }}</div>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                <div class="dropdown-inner user-card-wrap bg-lighter d-md-block">
                    <div class="user-card">
                        <div class="user-avatar">
                            <span>{{ user.get_avatar }}</span>
                        </div>
                        <div class="user-info">
                            <span class="lead-text">{{ user.get_full_name }}</span>
                            <span class="sub-text">{{ user.email }}</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown-inner">
                    <ul class="link-list">
                        <li><a href=""><em class="icon ni ni-user-alt"></em><span>{% trans 'View Profile' %}</span></a></li>
                        <li><a href=""><em class="icon ni ni-setting-alt"></em><span>{% trans 'Account Setting' %}</span></a></li>
                        <li>
                            <a class="dark-switch" href="#" id="dark-mode-toggle" data-url="{% url 'toggle_dark_mode' %}">
                                <em class="icon ni {% if user.prefers_dark_mode %}ni-sun{% else %}ni-moon{% endif %}"></em>
                              <span>{% if user.prefers_dark_mode %}{% trans 'Light Mode' %}{% else %}{% trans 'Dark Mode' %}{% endif %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown-inner">
                    <ul class="link-list">
                        <li><a href="#"><em class="icon ni ni-signout"></em><span>{% trans 'Sign out' %}</span></a></li>
                    </ul>
                </div>
            </div>
        </li><!-- .dropdown -->
        <li class="dropdown notification-dropdown me-n1">
            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
            </a>
            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end dropdown-menu-s1">
                <div class="dropdown-head">
                    <span class="sub-title nk-dropdown-title">{% trans 'Notifications' %}</span>
                    <a href="#">{% trans 'Mark All as Read' %}</a>
                </div>
                <div class="dropdown-body">
                    <div class="nk-notification">
                        <div class="nk-notification-item dropdown-inner">
                            <div class="nk-notification-icon">
                                <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                            </div>
                            <div class="nk-notification-content">
                                <div class="nk-notification-text">{% trans 'You have requested to' %} <span>{% trans 'Widthdrawl' %}</span></div>
                                <div class="nk-notification-time">{% trans '2 hrs ago' %}</div>
                            </div>
                        </div>
                        <div class="nk-notification-item dropdown-inner">
                            <div class="nk-notification-icon">
                                <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                            </div>
                            <div class="nk-notification-content">
                                <div class="nk-notification-text">{% trans 'Your' %} <span>{% trans 'Deposit Order' %}</span> {% trans 'is placed' %}</div>
                                <div class="nk-notification-time">{% trans '2 hrs ago' %}</div>
                            </div>
                        </div>
                        <!-- More notification items... -->
                    </div><!-- .nk-notification -->
                </div><!-- .nk-dropdown-body -->
                <div class="dropdown-foot center">
                    <a href="#">{% trans 'View All' %}</a>
                </div>
            </div>
        </li><!-- .dropdown -->
    </ul><!-- .nk-quick-nav -->
</div><!-- .nk-header-tools -->